
::marker
{
  color: red;
}
p.one::before
{
  content: url(https://www.google.com/logos/doodles/2024/celebrating-the-accordion-6753651837110222-s.png);
}
p.one::after
{
  content: url(https://www.google.com/logos/doodles/2024/celebrating-the-accordion-6753651837110222-s.png);
}
p.one::first-letter
{
  color: red;
}
p::first-line
{
  color: red;
  font-variant: small-caps;
}
p::first-letter
{
  color: rgb(4, 33, 255);
  font-size: xx-large;
}