<header>
    HTML : Color
</header>

<h1 style="background-color: tomato;">tomato</h1>
<h1 style="background-color: orange;">Orange</h1>
<h1 style="background-color: dodgerblue;">DodgerBlue</h1>
<h1 style="background-color: mediumseagreen;">MediumSeaGreen</h1>
<h1 style="background-color: gray;">Gray</h1>
<h1 style="background-color: slateblue;">SlateBlue</h1>

<h1 style="background-color: dodgerblue;">Hello world</h1>

<p style="background-color: tomato;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea unde sunt voluptates quis, possimus repellat ipsam! Optio asperiores in, modi sapiente pariatur, facilis sequi reprehenderit autem, minima natus at voluptas.</p>

<h1 style="color: tomato;">Hello World</h1>
<p style="color: dodgerblue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat quidem eos voluptatibus dolores ea deserunt perspiciatis excepturi neque. Ea explicabo earum optio possimus officiis tempore error sint qui eligendi.</p>
<p style="color: mediumaquamarine;">Ut wisi enim...</p>


<h1 style="border: 2px solid tomato;">Hello World</h1>
<h1 style="border: 2px solid dodgerblue;">Hello World</h1>
<h1 style="border: 2px solid violet;">Hello World</h1>


<h1 style="background-color: rgb(255, 99, 71);">...</h1>
<h1 style="background-color: #ff6347;">...</h1>
<h1 style="background-color: hsl(9, 100%, 64%);">...</h1>

<h1 style="background-color: rgba(225, 99, 71, 0.5);">...</h1>
<h1 style="background-color: rgba(9, 100%, 64%, 0.5);"></h1>