<html>
<head>
  <link rel="stylesheet" href="app.component.css">
</head>

  <body>
   <h2>Table Border</h2>

   <div style="overflow-x: auto;">
   <table class="student">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Detail</th>
    </tr>

    <tr>
      <td>1</td>
      <td>Narendra</td>
      <td>76565885</td>
      <td>No Vacancy</td>
    </tr>
  </table>
</div>
<br>
  <table>
    <tr><th>Name</th></tr>
    <tr><td>Narendra</td></tr>
  </table>

  </body>

</html>