<header>
    <h1>
        Forms in HTML
    </h1>
</header>

<main>
    <form action="/action.php">
        <div>

            <input type="text" placeholder="username"> 
            <input type="password" placeholder="password"><br>
            
            <span><p>Select only one option for winning prizes</p></span>
            <input type="radio" value="OptionA" name="class">OptionA
            <input type="radio" value="OptionB" name="class">OptionB
            <input type="radio" value="OptionC" name="class">OptionC
            <input type="radio" value="OptionD" name="class">OptionD


            


        </div>


    </form>



</main>


<footer>
    Thank you for using form application
</footer>